#originalArea {
    width: 50%;
    height: 100%;
    float: left;
    border-right: 1px #626262 solid;
    box-sizing: border-box;
}

#changedArea {
    width: 50%;
    height: 100%;
    float: left;
}

.originalTitle {
    top: 0;
    color: white;
    line-height: 40px;
    width: 50%;
    position: fixed;
    box-sizing: border-box;
    padding-left: 20px;
}

.changedTitle {
    top:0;
    left: 50%;
    color: white;
    line-height: 40px;
    width: 50%;
    position: fixed;
    box-sizing: border-box;
    padding-left: 20px;
}
