body {
    background: linear-gradient(to top right, white, #d0f9ff);
}

#documentArea {
    height: 90%;
    padding-top: 80px;
    box-sizing: border-box;
}

aside {

    width: 250px;
    height: 100%;
    color: #fff;
    background-color: #29abe2;
    float: left;
    overflow: auto;
}

aside > div {

    height: 35px;
    line-height: 35px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    padding-left: 10px;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

aside > div:hover {

    color: #4d4d4d;
    background-color: #96d5ef;

}

aside > div > img {

    position: absolute;
    right: 10px;
    height: 20px;
    margin-top: 6px;

}

aside > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: none;
}

aside > ul > li {
    border-bottom: 1px solid #d4d4d4;
    box-sizing: border-box;
    height: 30px;
    cursor: pointer;
    padding-left: 20px;
    line-height: 30px;
    color: #fff;
    background-color: #29abe2;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

aside > ul > li:hover {

    color: #4d4d4d;
    background-color: #96d5ef;
}

.nowLabel {

    color: #4d4d4d;
    background-color: #96d5ef;

}

main {

    height: 100%;
    background-color: #fff;
    overflow: auto;
}

main > div {

    display: none;
    overflow: auto;

}

footer {

    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    font-size: 16px;
    color: #fff;
    line-height: 50px;
    box-sizing: border-box;
    background-color: #333;
    text-align: center;
    clear: both;
}