#downloadNav {

    cursor: pointer;
}

#introduce {

    min-height: 95%;
    width: 100%;
    box-sizing: border-box;
    padding-top: 60px;
    background: linear-gradient(to top right, white, #d0f9ff);

}

#introduce > div {
    padding-left: 80px;
    padding-right: 80px;
}

#introduce > div > img {
    padding: 50px;
    box-sizing: border-box;
    width: 300px;
    float: left;
}

#description {
    width: 60%;
    height: 300px;
    float: left;
}

#description > p {

    margin-top: 40px;
    width: 100%;
    font-size: 35px;
    font-family: DINAlternateBold, serif;

}

#description > div {

    width: 100%;
    margin-top: 30px;
}

#description > div > div {

    width : 33%;
    float: left;
}

#description > div > div > div {

    width: 150px;
    height: 45px;
    line-height: 45px;
    border-radius: 22px;
    cursor: pointer;
}

#description > div > div > div > img {

    float: left;
}

#description > div > div > div > p {

    width: auto;
    float: left;
}

#toStart {

    color: white;
    background: linear-gradient(to right, #0071bc, #29abe2);
}

#toStart > img {

    height: 20px;
    margin-left: 13px;
    margin-top: 13px;
    margin-right: 5px;
}

#toPlayground {
    color: #4d4d4d;
    border: 1px solid #29A6DD;
}

#toPlayground > img {

    height: 30px;
    margin-left: 12px;
    margin-top: 7px;
    margin-right: 8px;
}

#toGithub {
    background-color: #f2f2f2;
}

#toGithub > img {

    height: 40px;
    margin-left: 5px;
    margin-top: 2px;
    margin-right: 20px;
}

#explanation {

    width: 100%;
    height: 200px;
    float: left;
}

#explanation > div {

    width: 33%;
    height: 100%;
    float: left;
}

#explanation > div > p {

    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #0071bc;
}

#start {

    height: 90%;
    width: 100%;
    background-color: #e6e6e6;
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 60px;
}

#start > div {

    height: 100%;
}

#start > div > div {

    width: 50%;
    height: 100%;
    float: left;
}

#start > div > div > header {

    height: 50px;
    line-height: 50px;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: DINAlternateBold, serif;
}

#download {

    height: 90%;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 60px;
}

#download > div {
    height: 100%;
}

#download > div > div {
    width: 50%;
    float: left;
}

#download > div > div > img {
    width: 100%;
}

#download > div > div > header {

    height: 50px;
    line-height: 50px;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: DINAlternateBold, serif;

}

#download > div > div > p.sub-title {

    height: 30px;
    line-height: 30px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

#download > div > div > div.code {

    width: 100%;
    height: 35px;
    color: #0071bc;
    line-height: 35px;
    border: 1px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 15px;
    background-color: #e6e6e6;
}

footer {

    height: 50px;
    width: 100%;
    font-size: 16px;
    color: #fff;
    line-height: 50px;
    box-sizing: border-box;
    background-color: #333;
    text-align: center;
    clear: both;
}