nav
{
	z-index: 1; /* make sure that nav is not covered by globe area */
}

#wrapper
{

    height: 100%;
    width: 100%;
    padding: 60px 0 0 0;
    box-sizing: border-box;

}

#globalArea
{
	z-index: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;

}

#controlPanel
{
	position: fixed;
	width: 320px;
	top: 60px;
	right: 0;
	color: #eee;
}

#controlPanel ul
{
	padding: 0;
}

#controlPanel li
{
	list-style: none;
	display: block;
	min-height: 20px;
}

#controlPanel li.ctl-panel-header
{
	clear: both;
}

#controlPanel .ctl-panel-item-name
{
	float: left;
	clear: both;
	width: 150px;
}

#controlPanel .ctl-panel-item-content
{
	float: left;
	margin-left: 10px;
}

#controlPanel .ctl-color-picker
{
	width: 100px;
}

#panelBtns
{
	clear: both;
	margin-top: 20px;
	color: black;
}