nav
{
	z-index: 1; /* make sure that nav is not covered by globe area */
}

#wrapper
{

    height: 100%;
    width: 100%;
    padding: 60px 0 0 0;
    box-sizing: border-box;

}

#globalArea
{
	z-index: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;

}

#controlPanel
{
	position: fixed;
	width: 320px;
	top: 60px;
	right: 0;
	color: #eee;
}

#controlPanelOperations
{
	overflow: auto;
    max-height: 550px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#controlPanel ul
{
	padding: 0;
	
}

#controlPanel li
{
	list-style: none;
	min-height: 20px;
}

.ctl-panel-header
{
	clear: both;
	cursor: pointer;
}

.ctl-panel-header > h3
{
	color: #20abe2;
	display: inline-block;
}

.ctl-panel-header > img
{
	width: 32px;
	height: 16px;
	display: inline-block;
	position: relative;
    left: 10px;
    bottom: 5px;
}

.ctl-panel-item-holder
{
	display: none;
}

.ctl-panel-item
{
	height: 30px;
}

.ctl-panel-item-name
{
	float: left;
	clear: both;
	width: 150px;
}

.ctl-panel-item-content
{
	float: left;
	margin-left: 10px;
}

.ctl-color-picker
{
	width: 120px;
	border-radius: 30px;
	border-style: 1px solid #cccccc;
}

#panelBtns
{
	clear: both;
	margin-top: 20px;
	color: black;
}

.ctl-button {
	width: 120px;
	height: 30px;
	margin-right: 15px;
	border-radius: 30px;
	color: #20abe2;
	background-image: none;
	background-color: transparent;
	border-color: #20abe2;
}

.ctl-button > img {
	display: inline-block;
	height: 18px;
	position: relative;
	bottom: 2px;
	float: left;
}

.ctl-button > span {
	position: relative;
    bottom: 3px;
}

.ctl-button:hover {
	color: #fff;
	/*background-color: #20abe2;*/
	border-color: #20abe2;
}

.ctl-button:focus, .ctl-button.focus {
 	-webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
    box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
}

.ctl-button.disabled, .ctl-button:disabled {
	color: #20abe2;
	background-color: transparent;
}

.ctl-button:active, .ctl-button.active,

.show > .btn-outline-primary.dropdown-toggle {
	color: #fff;
	/*background-color: #20abe2;*/
	border-color: #20abe2;
}

.plg-modal {
	z-index: 2;
	position: fixed;
    left: calc(50% - 300px);
    top: calc(50% - 260px);
    width: 600px;
    height: 520px;
    background: linear-gradient(to right, #0071bc, #20abe2); 
    visibility: hidden;
    transform: scaleX(1.1) scaleY(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;

}

.plg-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 500px;
    transform: translate(-50%, -50%);
    background-color: ;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    color: #ffffff;
    overflow: auto;
    display: none;
}

.plg-close-button {
    float: right;
    color: #ffffff;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    background-color: #428bca;
}

.plg-close-button:hover {
    background-color: #256286;
}

.plg-show-modal {
    opacity: 0.9;
    visibility: visible;
    transform: scaleX(1.0) scaleY(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.plg-show-modal-content {
    display: block;
}