#controlPanel
{
	position: fixed;
	width: 280px;
	top: 60px;
	right: 0;
	color: #eee;
}

#controlPanel ul
{
	padding: 0;
}

#controlPanel li
{
	list-style: none;
	display: block;
	min-height: 20px;
}

#controlPanel li.ctl-panel-header
{
	clear: both;
}

#controlPanel .ctl-panel-item-name
{
	float: left;
	clear: both;
	width: 120px;
}

#controlPanel .ctl-panel-item-content
{
	float: left;
	margin-left: 10px;
}

#panelBtns
{
	clear: both;
	margin-top: 20px;
	color: black;
}